* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#games {
  margin: 0px 300px 0px 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 300px;
  padding: 10px;
  gap: 10px;
}

#games div {
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  transition: all 0.5s;
  border: 3px solid #09cfda;
}

div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#games div:hover {
  transform: scale(1.05);
}

#logo {
  padding: 0px;
  margin: 5px 0px 5px 15px;
  height: 65px;
  width: 75px;
  float: left;
}

body {
  background: url("../Home_Images/bg1.png") fixed;
}

#section_title {
  color: white;
  width: 250px;
  margin-left: 105px;
  font-size: 75px;
  border-bottom: 2px solid white;
}

#filter {
  margin: 50px 100px 0px 0px;
  font-size: 30px;
  float: right;
  color: white;
}

#filter input[type="text"] {
  border: none;
  margin-bottom: 25px;
  padding: 5px;
  width: 150px;
  height: 35px;
}

#filter button {
  text-decoration: none;
  background: transparent;
  border: none;
  width: 100%;
  display: block;
  text-align: left;
  margin: 15px 0px;
  padding: 10px;
  font-size: 20px;
  color: white;
}

#filter button:hover {
  background: rgba(128, 128, 128, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
