nav {
  overflow: hidden;
  position: sticky;
  top: 0px;
  background-color: #001729;
  width: 100%;
  height: 75px;
  z-index: 1;
}

nav #search {
  box-sizing: border-box;
  border: none;
  padding: 5px;
  margin: 20px 15px;
  border-radius: 300px;
  width: 250px;
  height: 35px;
}

nav #Home,
nav #Profile {
  margin-top: 30px;
  margin-right: 15px;
  padding: 0px 10px;
  height: 15px;
  font-size: 20px;
  float: right;
  display: flex;
  align-items: center;
  color: #09cfda;
  text-decoration: none;
  transition: color 0.5s;
}

nav #Home:hover,
nav #Profile:hover {
  color: white;
}

#logo {
  padding: 0px;
  margin: 5px 0px 5px 15px;
  height: 65px;
  width: 75px;
  float: left;
}
